.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1F2937;
    /* flex-shrink: 0; */
}

.links {
    display: flex;
    list-style-type: none;
    gap: 10px;
    margin-right: 80px;
}

.hero {
    color: #F9FAF8;
    font-family: 'Roboto',sans-serif;
    font-size: 24px;
    font-weight: 600;
    margin-left: 80px;

}

a {
    color: #e5e7eb;
    text-decoration: none;
    font-size: 18px;
}

.header-2 {
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
}

.left_part {
    display: flex;
    flex-direction: column;
    margin-left: 80px;
    width: 400px;
    padding-top: 100px;
    padding-bottom: 100px;
    flex: auto;
}

.main_image {
    margin-right: 80px;
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 25px;
    flex: auto;
}

.actual_hero {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 2px;
}

.sec_text {
    color: #e5e7eb;
    font-size: 18px;
    margin-bottom: 10px;
}

.button {
    width: 100px;
    background-color: #3882F6;
    padding: 8px;
    border-radius: 10px;
    color: #F9FAF8;
    font-weight: 900;
}